{% set map = {
    'Ubuntu': {
        'pkgs_deps': ['qemu',
                      'lvm2',
                      'ssh',
                      'bridge-utils',
                      'iproute',
                      'iputils-arping',
                      'make',
                      'm4',
                      'ndisc6',
                      'python',
                      'python-openssl',
                      'openssl',
                      'python-pyparsing',
                      'python-simplejson',
                      'python-bitarray',
                      'python-pyinotify',
                      'python-pycurl',
                      'python-ipaddr',
                      'socat',
                      'fping',
                      'python-paramiko',
                      'python-psutil',
                      'qemu-utils',
                      'drbd8-utils',
                      'python-augeas',
                      'libpython2.7']
    },
    'Debian': {
        'pkgs_deps': ['qemu',
                      'lvm2',
                      'ssh',
                      'bridge-utils',
                      'iproute',
                      'iputils-arping',
                      'make',
                      'm4',
                      'ndisc6',
                      'python',
                      'python-openssl',
                      'openssl',
                      'python-pyparsing',
                      'python-simplejson',
                      'python-bitarray',
                      'python-pyinotify',
                      'python-pycurl',
                      'python-ipaddr',
                      'socat',
                      'fping',
                      'python-paramiko',
                      'python-psutil',
                      'qemu-utils',
                      'drbd8-utils',
                      'python-augeas',
                      'libpython2.7']

    }
} %}

{% if grains.get('saltversion', '').startswith('0.17') %}
{% set ganeti = salt['grains.filter_by'](map, merge=salt['pillar.get']('ganeti:lookup'), base='default') %}
{% else %}
{% set ganeti = map.get(grains.os) %}
{% endif %}
